<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{day}}</h3>
    </div>
    <div class="panel-body">
        <img src="https://www.metaweather.com/static/img/weather/png/64/s.png" class="img-responsive center-block">
        <div class="box-temperature text-center">
            <span class="temperature">{{min}}</span>
            <strong>-</strong>
            <span class="temperature">{{max}}</span>
        </div>
    </div>
    <!--panel-body-->
</div>
<!--panel-->